<p id="notice"><%= notice %></p>

<h1>Props</h1>


<br>


<div class="row">
  <% @props.each do |prop| %>

  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> <%= prop.address%> </h5>
        <p class="card-text">Will replace words of bed/bath with icons maybe.
        maybe keep title for parish or even a custom name maybe</p>
      </div>
      <ul class="list-group list-group-flush" id="lisDets">
        <li class="list-group-item">Bed <%= prop.bedrooms%></li>
        <li class="list-group-item">Bath <%= prop.bathrooms%></li>
        <li class="list-group-item">Park <%= prop.parking%></li>
      </ul>
      <div class="card-body" id="cardbot">
        <%= link_to "Show", prop, class:'card-link' %>
        <%= link_to "Edit", edit_prop_path(prop), class:"card-link" %>
        <%= link_to "Delete", prop, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
  <% end %>
</div>



<br>

<%= link_to 'New Prop', new_prop_path %>
